<div class="container mt-5">
  <h1 class="mb-4">Search costumes</h1>

  <div class="row">
    <% @costumes.each do |costume| %>
      <%= render 'card', costume: costume %>
    <% end %>
  </div>
</div>
