<div class="container mt-5">
<div class="justify-content-center">

  <%= render "shared/search_form" %>

  <div class="row">
    <% @costumes.each do |costume| %>
      <%= render 'card', costume: costume %>
    <% end %>
    </div>
  </div>
</div>
